<audio autoplay preload="auto">
	<source
		src="${pageContext.request.contextPath}/resources/image/musique.mp3"
		type="audio/mp3">
</audio>
<div style="background-color: lightblue">
	<br />
	<div>
		<div>

			<div class="panel panel-info"
				style="width: 70%; position: relative; top: 50%; left: 15%; text-align: center; color: darkblue">
				<div class="panel-heading"
					style="background-color: darkblue; color: lightblue">
					<h4>
						<b>Nous contacter</b>
					</h4>
				</div>
				<div class="panel-body">


					<a
						href="https://www.facebook.com/BoVoyage-Voyages-Nordiques-336715513838177/"
						target="_blank" class="footer__icon footer__icon--fb"
						rel="nofollow"> <img src="resources/image/Facebook_26px.png"
						alt="facebook" />
					</a><a href="https://twitter.com/ViajerosPiratas" target="_blank"
						class="footer__icon footer__icon--tw" rel="nofollow"> <img
						src="resources/image/Twitter_26px.png" />
					</a> <a href="https://plus.google.com/100950880742664009394/posts"
						target="_blank" class="footer__icon footer__icon--gp"
						rel="publisher"> <img
						src="resources/image/Google Plus_26px.png" />
					</a><br /> <img src="resources/image/Paper Plane_26px.png"
						class="gmail" /> : servicebovoyage@gmail.com<br /> <img
						src="resources/image/Phone_26px.png" class="chat" /> : +33 02 40
					45 62 03 Service Client telephonique Horaires: 8h à 20h de Lundi à
					Vendredi<br /> <a
						href="https://www.google.es/maps/place/24+Rue+Cr%C3%A9billon,+44000+Nantes/@47.2134235,-1.5638427,17z/data=!3m1!4b1!4m5!3m4!1s0x4805ec1d36aef15d:0x23012e6a119854ef!8m2!3d47.2134199!4d-1.561654">
						<img src="resources/image/Map Marker_26px.png" class="chat" />
					</a> : 24 Rue Crébillon, 44000 Nantes<br />
				</div>
			</div>
			<div style="position: relative; left: 40%;">
				<button style="width: 20%">
					<a href="${pageContext.request.contextPath}/agence/login">Accès
						Administrateur</a>
				</button>
			</div>
		</div>
	</div>
</div>
