<audio autoplay preload="auto">
  <source src="${pageContext.request.contextPath}/resources/image/musique.mp3" type="audio/mp3">
</audio>
<div class="tapadera" style="background-color: lightblue">
	<div class="footer__col footer__col--1 footer__col--full-width" >
		<div class="footer__cell"></div>
	</div>
	<div class="footer__col footer__col--1">
		<div class="footer__cell"  style="background-color: lightblue">
			<form method="POST" action="//www.viajerospiratas.es/newsletter"
				accept-charset="UTF-8" data-track-submit="data-track-submit"
				data-track-a="newsletter" class="footer__newsletter"
				data-view-ajax-form="">
				<input name="_token" type="hidden"
					value="yXSRTnGGgQGn3F5sXZFTKoJR8HP3YTlUaL8TLjLt">

				<div class="newsletter-loader ajax-form__loader">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>

				<div class="REFCSS">
					<div
						class="box message message--success hidden ajax-form__msg ajax-form__msg--success"></div>
				</div>

				<div class="REFCSS">
					<div
						class="box message message--error hidden ajax-form__msg ajax-form__msg--error"></div>
				</div>

				<div class="newsletter--input ajax-form__input">
					<div class="newsletter__cta">
						Newsletter:
						Les meilleures offres toujours à main!   <img src="Resources/Images/Paper Plane_50px.png" class="plane"/>
					</div>


					<input name="_token" type="hidden"
						value="yXSRTnGGgQGn3F5sXZFTKoJR8HP3YTlUaL8TLjLt"> <input
						name="source" type="hidden" value="Footer Form"> <input
						name="placing" type="hidden" value="footer"> <input
						required="required" class="input" name="email"
						placeholder="votre mail" type="email" value="">

					<button type="submit" class="button button--sLnk button--check">
						<img src="Resources/Images/Checkmark_52px.png" class="check" /> <span></span>
					</button>

				</div>

			</form>
		</div>
		<div class="footer__cell">
			<div class="iconos">
				<a href="https://www.facebook.com/BoVoyage-Voyages-Nordiques-336715513838177/" target="_blank"
					class="footer__icon footer__icon--fb" rel="nofollow"> <img
					src="Resources/Images/Facebook F_48px.png" />
				</a> <a href="https://twitter.com/ViajerosPiratas" target="_blank"
					class="footer__icon footer__icon--tw" rel="nofollow"> <img
					src="Resources/Images/Twitter_64px.png" />
				</a> <a href="https://plus.google.com/100950880742664009394/posts"
					target="_blank" class="footer__icon footer__icon--gp"
					rel="publisher"> <img src="Resources/Images/Instagram_50px.png" />
				</a>

			</div>
		</div>
	</div>
	<div class="footer__col footer__col--3 footer__col--reverse">
		<div class="contactanos">
			<ul class="footer__toplinks" style="list-style-type:none">
				<li>
						<img src="Resources/Images/Gmail_50px.png" class="gmail"/>servicebovoyage@gmail.com
				</li>
				<li><a href="https://www.viajerospiratas.es/pages/imprint">
						<img src="Resources/Images/Chat_52px.png" class="chat"/></a>chat
				</li>
				<li>
						<img src="Resources/Images/Phone_50px.png" class="chat"/>+33 02 40 45 62 03 Service Client telephonique Horaires: 8h à 20h
						de Lundi à Vendredi </li>
				<li><a
					href="https://www.google.es/maps/place/24+Rue+Cr%C3%A9billon,+44000+Nantes/@47.2134235,-1.5638427,17z/data=!3m1!4b1!4m5!3m4!1s0x4805ec1d36aef15d:0x23012e6a119854ef!8m2!3d47.2134199!4d-1.561654">
						<img src="Resources/Images/Marker_50px.png" class="chat"/></a>24 Rue Crébillon,
						44000 Nantes
				</li>

			</ul>
		</div>
		<div class="footer__cell">
			<div class="footer__icons">

				<a
					href="https://play.google.com/store/apps/details?id=com.tippingcanoe.urlaubspiraten&amp;referrer=utm_source%3Dviajerospiratas%26utm_medium%3Dfooter"
					data-track-click="" data-track-a="Play Store link footer"
					rel="nofollow" target="_blank"
					class="footer__icon footer__icon--android"></a> <a
					href="https://itunes.apple.com/app/apple-store/id564850309?pt=1588540&amp;ct=footerviajerospiratas&amp;mt=8"
					data-track-click="" data-track-a="App Store link footer"
					rel="nofollow" target="_blank"
					class="footer__icon footer__icon--apple"></a>


			</div>
		</div>
	</div>
</div>

