
<canvas id="canvas" style="position: absolute; z-index: 2"></canvas>
<div
	style="text-decoration: underline; color: lightblue; position: absolute; z-index: 2; font-family: Calibri; left: 18%; text-shadow: 10px 8px darkblue; font-size: 500%">BoVoyage
	- Voyages Nordiques</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel"
	style="z-index: 1; height: 10%">

	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<img
				src="${pageContext.request.contextPath}/resources/image/header1.jpg"
				alt="Finlande" style="width: 100%; height: 150px;">
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<img
				src="${pageContext.request.contextPath}/resources/image/header2.jpg"
				alt="Norvege" style="width: 100%; height: 150px;">
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<img
				src="${pageContext.request.contextPath}/resources/image/header3.jpg"
				alt="Suede" style="width: 100%; height: 150px;">
			<div class="carousel-caption"></div>
		</div>

	</div>
</div>

<!-- PARTIE MENU -->
<div class="row">

	<nav class="navbar navbar-default">
<a href="${pageContext.request.contextPath}/bovoyage/listvoyage" style="position: absolute;left:5%;font-size:200%">BoVoyage</a>
		<form action="rechercheavanceep">
			<input type="number" class="form-control" id="prix" name="prix"
				placeholder="Entrer un prix maximal" style="position: absolute;left:17%; width: 15%" />
				 <select
				class="form-control" id="continent" name="continent" style="position:absolute;left:34%;width:15%" >
				<option value="" label="Sélectionnez un continent" />
				<option value="europe" label="Europe" />
				<option value="asie" label="Asie" />
				<option value="amerique" label="Amérique" />
		

			</select>
			<input type="date" class="form-control" id="dd" name="dd" style="position:absolute;left:51%;width:15%">
			<button type="submit" style="position:absolute;left:68%;width:15%">Rechercher</button>
		</form>
	</nav>
</div>
