<header>

<canvas id="canvas" style="position: absolute;z-index: 2"></canvas>
<div style="text-decoration: underline;color:lightblue;position: absolute;z-index:2;font-family:Calibri;left : 18%;text-shadow: 10px 8px darkblue;font-size:500%">BoVoyage
		- Voyages Nordiques</div>
	<div id="myCarousel" class="carousel slide" data-ride="carousel" style="z-index: 1;height:10%">
		
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img
						src="${pageContext.request.contextPath}/resources/image/header1.jpg"
						alt="Finlande" style="width: 100%;height:150px;">
					<div class="carousel-caption"></div>
				</div>
				<div class="item">
					<img
						src="${pageContext.request.contextPath}/resources/image/header2.jpg"
						alt="Norvege" style="width: 100%;height:150px;">
					<div class="carousel-caption"></div>
				</div>
					<div class="item">
					<img
						src="${pageContext.request.contextPath}/resources/image/header3.jpg"
						alt="Suede" style="width: 100%;height:150px;">
					<div class="carousel-caption"></div>
				</div>
				
			</div>
		</div>

<nav class="navbar navbar-inverse" style="background-color: lightblue; border-radius:0%;border-color: darkblue;border-width: 3px;">
	<ul class="nav nav-pills" style="color:darkblue;">
	<li>
	<a class="navbar-brand" href='${pageContext.request.contextPath}/agence/recherche' style="color:darkblue;">BoVoyage</a>
	</li>
	<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Voyage<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li role="presentation"><a
					href='${pageContext.request.contextPath}/bovoyage/agence/addvoyage'>Ajouter</a></li>
				<li role="presentation"><a
					href="${pageContext.request.contextPath}/bovoyage/agence/deletevoyage">Supprimer</a></li>
				<li role="presentation"><a
					href="${pageContext.request.contextPath}/bovoyage/agence/updatevoyage">Modifier</a></li>
				</ul>
		</li>
			<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Destination<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li role="presentation"><a
					href='${pageContext.request.contextPath}/destination/agence/adddestination'>Ajouter</a></li>
				<li role="presentation"><a
					href="${pageContext.request.contextPath}/destination/agence/deletedestination">Supprimer</a></li>
				<li role="presentation"><a
					href="${pageContext.request.contextPath}/destination/agence/updatedestination">Modifier</a></li>
				</ul>
		</li>
		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hôtel<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li role="presentation"><a
					href='${pageContext.request.contextPath}/hotel/agence/addhotel'>Ajouter</a></li>
				<li role="presentation"><a
					href="${pageContext.request.contextPath}/hotel/agence/deletehotel">Supprimer</a></li>
				<li role="presentation"><a
					href="${pageContext.request.contextPath}/hotel/agence/updatehotel">Modifier</a></li>
		
			</ul>
		</li>
		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Véhicule<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li role="presentation"><a
					href='${pageContext.request.contextPath}/vehicule/agence/addvehicule'>Ajouter</a></li>
				<li role="presentation"><a
					href="${pageContext.request.contextPath}/vehicule/agence/deletevehicule">Supprimer</a></li>
				<li role="presentation"><a
					href="${pageContext.request.contextPath}/vehicule/agence/updatevehicule">Modifier</a></li>
		
			</ul>
		</li>
				<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prestation<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li role="presentation"><a
					href='${pageContext.request.contextPath}/prestation/agence/addprestation'>Ajouter</a></li>
				<li role="presentation"><a
					href="${pageContext.request.contextPath}/prestation/agence/deleteprestation">Supprimer</a></li>
				<li role="presentation"><a
					href="${pageContext.request.contextPath}/prestation/agence/updateprestation">Modifier</a></li>
				</ul>
		</li>
		<li role="presentation"><a href="${pageContext.request.contextPath}/j_spring_security_logout">Deconnexion</a></li>
	</ul>

</nav>
</header>