******FOOTER********
.check{
width: 20px;
border: 2px;
border-radius: 30%;

}

.gmail{
width: 30px;
border-radius: 30%;
}

.chat{
width: 30px;
border-radius: 30%;
}

.plane{
width: 30px;
border-radius: 30%;
}

.newsletter--input{
position: absolute;
right: 50px;
width: 230px;
top: 950px;
}

.iconos{
position: absolute;
right: 90px;
top: 1030px;
}
.newsletter__cta{
color: darkblue;
}

.contactanos{
position: absolute;
top: 950px;
color: darkblue;
}

.footer{
background-color: lightblue;
}
	
}


::-webkit-scrollbar { 
    display: none; 
}


***********NEIGE******************
section{
background-color: lightblue}

.snowflake {
    position: absolute;
    display: block;
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: -webkit-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -moz-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -ms-radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: radial-gradient(
        center,
        circle farthest-corner,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 100%
    );
}

#snow {
    position: relative;
    width: 100%;
    height: 100%;
}

********BUTTON******
#btnsubmit{
	background-color: lightblue !important;
	
}

#btnsubmit:hover{
	background-color: darkblue !important;
	
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
   
}