******FOOTER********
.check{
width: 20px;
border: 2px;
border-radius: 30%;

}

.gmail{
width: 30px;
border-radius: 30%;
}

.chat{
width: 30px;
border-radius: 30%;
}

.plane{
width: 30px;
border-radius: 30%;
}

.newsletter--input{
position: absolute;
right: 50px;
width: 230px;
top: 950px;
}

.iconos{
position: absolute;
right: 90px;
top: 1030px;
}
.newsletter__cta{
color: darkblue;
}

.contactanos{
position: absolute;
top: 950px;
color: darkblue;
}

.footer{
background-color: lightblue;
}
	

::-webkit-scrollbar { 
    display: none; 
}

********NEIGE******

canvas {
	display: block;
}
********BUTTON******
#btnsubmit{
	background-color: lightblue !important;
	
}

#btnsubmit:hover{
	background-color: darkblue !important;
	
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



.component__weather-box {
  margin: 30px auto;
  width: 420px;
  border: 1px solid #de6042;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 5px 20px 1px #444;
}

.component__weather-content {
  position: relative;
  overflow: hidden;
  color: #fff;
  background: #E06B4F;
  height: 120px;
}

.component__weather-content:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
  background-image: url("https://nunnz.files.wordpress.com/2013/11/4.jpg");
  background-repeat: no-repeat;
  background-position: 0 63%;
  background-size: cover;
}

.weather-content__overview {
  width: 50%;
  text-align: center;
  display: inline-block;
  float: left;
  z-index: 2;
  position: relative;
}

h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0.75em;
}


